<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>781566344515-2qa26gs6l2k77bmvg447uetr33l04mv7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.781566344515-2qa26gs6l2k77bmvg447uetr33l04mv7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>781566344515-9tdhq859huhs7b3jjkmj22gn9pij365e.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDd7cbsz86s9LSR6njwSDqAV9ZCO1EWKB0</string>
	<key>GCM_SENDER_ID</key>
	<string>781566344515</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instagramClone</string>
	<key>PROJECT_ID</key>
	<string>insta-clone-afb01</string>
	<key>STORAGE_BUCKET</key>
	<string>insta-clone-afb01.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:781566344515:ios:f7bd1349c2fc0f4b01c3f6</string>
</dict>
</plist>